<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page</h1>
    <h3><%= 3+4 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur rerum ex reiciendis libero sed deserunt eveniet fugit ratione facilis itaque, non temporibus facere aliquam harum eius illum tenetur perferendis vero</p>
    <button>click click</button>
</body>
</html>
